.env
/myenv
*.jpg
*.png
*.log
.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
*.egg
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.rar
*.gz
chroma_db/
node_modules/
package-lock.json
package.json
backend/__pycache__/
frontend/__pycache__/
backend/chroma_db/
*.wav