absl-py==2.1.0
accelerate==1.9.0
affine==2.4.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.9
aiohttp-cors==0.7.0
aiosignal==1.3.1
albumentations==0.4.3
altair==5.4.1
analytics-python==1.4.post1
annotated-types==0.7.0
antlr4-python3-runtime==4.8
anyio==4.10.0
appdirs==1.4.4
asgiref==3.9.1
assemblyai==0.42.1
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.3
attrs==24.2.0
audioread==3.0.1
backoff==1.10.0
bcrypt==4.2.0
beartype==0.15.0
beautifulsoup4==4.13.4
bleach==6.2.0
blinker==1.9.0
bokeh==3.6.2
boto3==1.35.97
botocore==1.35.97
braceexpand==0.1.7
build==1.3.0
cachetools==5.5.0
cdsapi==0.7.5
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.0
chroma-hnswlib==0.7.6
chromadb==0.6.3
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
clip @ git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1
cohere==5.1.8
coloredlogs==15.0.1
comm==0.2.2
contourpy==1.3.1
cryptography==45.0.6
cycler==0.12.1
dataclasses-json==0.6.7
datapi==0.1.1
datasets==4.0.0
debugpy==1.8.6
decorator==5.1.1
Deprecated==1.2.15
diffusers==0.3.0
dill==0.3.5.1
dirtyjson==1.0.8
diskcache==5.6.3
distro==1.9.0
docstring_parser==0.16
durationpy==0.10
einops==0.3.0
elevenlabs==2.9.2
exceptiongroup==1.3.0
executing==2.1.0
fastapi==0.115.0
fastavro==1.10.0
ffmpeg-python==0.2.0
ffmpy==0.4.0
filelock==3.16.1
filetype==1.2.0
fire==0.4.0
Flask==3.1.1
flatbuffers==25.2.10
fonttools==4.55.3
frozenlist==1.4.1
fs==2.4.16
fsspec==2024.10.0
ftfy==6.2.3
future==1.0.0
geocoder==1.38.1
geographiclib==2.0
geopy==2.4.1
gitdb==4.0.11
GitPython==3.1.43
google-ai-generativelanguage==0.6.10
google-api-core==2.24.0
google-api-python-client==2.158.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.109.0
google-cloud-bigquery==3.27.0
google-cloud-core==2.4.1
google-cloud-pubsub==2.27.2
google-cloud-resource-manager==1.14.2
google-cloud-storage==2.19.0
google-crc32c==1.6.0
google-genai==1.30.0
google-generativeai==0.8.3
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
gps3==0.33.3
gradio==3.1.4
greenlet==3.1.1
groq==0.15.0
grpc-google-iam-v1==0.14.0
grpcio==1.69.0
grpcio-status==1.69.0
h11==0.16.0
h3==4.1.2
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.1
huggingface-hub==0.27.1
humanfriendly==10.0
idna==3.10
imageio==2.36.1
imageio-ffmpeg==0.4.2
imgaug==0.2.6
importlib_metadata==8.5.0
importlib_resources==6.5.2
iniconfig==2.1.0
instructor==1.2.6
ipykernel==6.29.5
ipython==8.28.0
ipywidgets==8.1.5
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jiter==0.8.2
jmespath==1.0.1
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_bokeh==4.0.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_widgets==3.0.13
kiwisolver==1.4.7
kornia==0.6.0
kubernetes==33.1.0
langchain==0.3.21
langchain-chroma==0.2.2
langchain-community==0.3.20
langchain-core==0.3.47
langchain-google-vertexai==2.0.16
langchain-groq==0.3.0
langchain-text-splitters==0.3.7
langgraph==0.3.18
langgraph-checkpoint==2.0.21
langgraph-prebuilt==0.1.3
langgraph-sdk==0.1.58
langsmith==0.3.18
lazy_loader==0.4
ldm==0.1.3
librosa==0.11.0
lightning-utilities==0.14.2
linkify-it-py==2.0.3
litellm==1.44.28
llama-cloud==0.1.16
llama-cloud-services==0.6.7
llama-index==0.12.25
llama-index-agent-openai==0.4.6
llama-index-cli==0.4.1
llama-index-core==0.12.25
llama-index-embeddings-langchain==0.3.0
llama-index-embeddings-openai==0.3.1
llama-index-indices-managed-llama-cloud==0.6.9
llama-index-llms-openai==0.3.26
llama-index-multi-modal-llms-openai==0.4.3
llama-index-program-openai==0.3.1
llama-index-question-gen-openai==0.3.0
llama-index-readers-file==0.4.6
llama-index-readers-llama-parse==0.4.0
llama-index-readers-pathway==0.1.3
llama-index-retrievers-pathway==0.1.3
llama-index-vector-stores-chroma==0.4.1
llama-parse==0.6.4.post1
llvmlite==0.44.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.25.0
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdit-py-plugins==0.4.2
mdurl==0.1.2
mmh3==5.2.0
monotonic==1.6
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
multiprocess==0.70.13
multiurl==0.3.3
mypy-extensions==1.0.0
nest-asyncio==1.6.0
networkx==3.4.2
nllb @ git+https://github.com/winstxnhdw/nllb-api.git@13c0f535d06f036befbb3281d0158278b979f8eb#subdirectory=client
nltk==3.9.1
nomi @ git+https://github.com/justinpinkney/nomi.git@e9ded23b7e2269cc64d39683e1bf3c0319f552ab
numba==0.61.2
numpy==1.26.4
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-cufile-cu12==1.11.1.6
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.3
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
oauthlib==3.3.1
omegaconf==2.1.1
onnxruntime==1.22.1
openai==1.59.6
opentelemetry-api==1.29.0
opentelemetry-exporter-otlp-proto-common==1.29.0
opentelemetry-exporter-otlp-proto-grpc==1.29.0
opentelemetry-instrumentation==0.50b0
opentelemetry-instrumentation-asgi==0.50b0
opentelemetry-instrumentation-fastapi==0.50b0
opentelemetry-proto==1.29.0
opentelemetry-sdk==1.29.0
opentelemetry-semantic-conventions==0.50b0
opentelemetry-util-http==0.50b0
orjson==3.10.7
overrides==7.7.0
packaging==23.2
pandas==2.2.3
panel==1.5.5
param==2.2.0
paramiko==3.5.0
parso==0.8.4
pathway==0.16.4
pexpect==4.9.0
pillow==11.3.0
platformdirs==4.3.6
pluggy==1.6.0
pooch==1.8.2
posthog==6.5.0
prompt_toolkit==3.0.48
propcache==0.2.0
proto-plus==1.25.0
protobuf==5.29.5
psutil==7.0.0
ptyprocess==0.7.0
pudb==2019.2
pure_eval==0.2.3
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAudio==0.2.14
pybind11==2.12.0
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
pydeck==0.9.1
pyDeprecate==0.3.1
pydub==0.25.1
Pygments==2.18.0
PyJWT==2.10.1
PyMuPDF==1.26.3
PyNaCl==1.5.0
pyparsing==3.2.3
pypdf==5.9.0
PyPika==0.48.9
pyproject_hooks==1.2.0
pytesseract==0.3.13
pytest==8.4.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.12
python-sat==1.8.dev14
pytorch-lightning==1.4.2
pytz==2024.2
pyviz_comms==3.0.3
PyYAML==6.0.2
pyzmq==26.2.0
rasterio==1.4.3
ratelim==0.1.6
referencing==0.35.1
regex==2024.5.15
requests==2.32.4
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
responses==0.18.0
rich==13.9.2
rpds-py==0.20.0
rsa==4.9
s3transfer==0.10.4
safetensors==0.4.3
scikit-image==0.24.0
scikit-learn==1.6.1
scipy==1.14.1
sentence-transformers==3.3.1
sentencepiece==0.2.0
shapely==2.0.6
shellingham==1.5.4
six==1.17.0
smmap==5.0.1
sniffio==1.3.1
sounddevice==0.5.2
soundfile==0.13.1
soupsieve==2.7
soxr==0.5.0.post1
SQLAlchemy==2.0.37
sqlglot==10.6.1
stack-data==0.6.3
starlette==0.38.6
streamlit==1.39.0
striprtf==0.0.26
sympy==1.13.1
taming-transformers @ git+https://github.com/CompVis/taming-transformers.git@3ba01b241669f5ade541ce990f7650a3b8f65318
tenacity==8.5.0
tensorboard-data-server==0.7.2
termcolor==2.5.0
test-tube==0.7.5
threadpoolctl==3.5.0
tifffile==2024.9.20
tiktoken==0.8.0
tokenizers==0.21.0
toml==0.10.2
tomli==2.2.1
torch==2.5.1
torch-fidelity==0.3.0
torchaudio==2.5.1
torchmetrics==0.6.0
torchvision==0.20.1
tornado==6.4.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.48.0
triton==3.1.0
typer==0.15.1
types-requests==2.32.0.20241016
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2024.2
uc-micro-py==1.0.3
uritemplate==4.1.1
urllib3==2.2.3
urwid==2.6.15
uvicorn==0.35.0
uvloop==0.21.0
vonage==4.6.0
vonage-account==1.1.1
vonage-application==2.0.1
vonage-http-client==1.5.1
vonage-jwt==1.1.5
vonage-messages==1.6.2
vonage-network-auth==1.0.2
vonage-network-number-verification==1.0.2
vonage-network-sim-swap==1.1.2
vonage-number-insight==1.0.7
vonage-numbers==1.0.4
vonage-sms==1.1.6
vonage-subaccounts==1.0.4
vonage-users==1.2.1
vonage-utils==1.1.4
vonage-verify==2.1.0
vonage-verify-legacy==1.0.1
vonage-video==1.4.0
vonage-voice==1.4.0
watchdog==5.0.3
watchfiles==1.1.0
wcwidth==0.2.13
webdataset==0.2.5
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
widgetsnbextension==4.0.13
wrapt==1.17.3
xxhash==3.5.0
xyzservices==2024.9.0
yarl==1.14.0
zipp==3.21.0
zstandard==0.23.0